<div class="row">


    <div class="col-md-6">
        <h1>Loan Request Recieved</h1>
        <b><i class="test-info">Assign a Loan Officer to each request</i></b>
        <br>
        <table class="table">

            <thead>
                <th>Customer Name</th>
                <th>Loan Name</th>
                <th>Requested Amount</th>
            </thead>

            <tbody>
                <tr *ngFor="let r of service.ListOfRequestRecived">
                    <td>{{r.customerName}}</td>
                    <td>{{r.loanName}}</td>
                    <td>{{r.requestedAmount}}</td>
                    <td><button class="btn btn-outline-danger" (click)="showDetailedRequest(r)">Details</button></td>
                </tr>
            </tbody>
        </table>


        <hr>

        <h1>Verification Reports</h1>
        <b><i class="test-info">Loans to Approve or reject</i></b>
        <br>
        <app-approval-list></app-approval-list>

    </div>

    <div class="col-md-6" *ngIf="service.showRequestDetailsToogle">

        <table class="table">
            <tbody>
                <tr>
                    <td>
                        <h2>Customer Name :</h2>
                    </td>
                    <td>
                        <h2>{{detailsOfRequest.customerName}}</h2>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h2>Customer Name :</h2>
                    </td>
                    <td>
                        <h2>{{detailsOfRequest.loanName}}</h2>
                    </td>
                </tr>

                <tr>
                    <td><b>Loan Request Date:</b></td>
                    <td><i>{{detailsOfRequest.loanRequestDate}}</i></td>
                </tr>

                <tr>
                    <td><b>Loan Purpose :</b></td>
                    <td><i>{{detailsOfRequest.loanPurpose}}</i></td>
                </tr>

                <tr>
                    <td><b>Amount Requested :</b></td>
                    <td>
                        <h2>{{detailsOfRequest.requestedAmount}}</h2>
                    </td>
                </tr>

            </tbody>
        </table>


        <form (ngSubmit)="AssignOfficerForVerification()">
            <label>Assign a Officer for Verification</label>
            <select class="form-control" name="staffId" #staffId="ngModel" [(ngModel)]="detailsToAssignOfficer.staffId">
                <option [value]='0'>--Choose a Officer</option>
                <option *ngFor="let o of service.detailsOfOfficer" [value]="o.id">{{o.name}}</option>
            </select>
            <button class="btn btn-success" [disabled]="detailsToAssignOfficer.staffId == 0">Assign</button>
        </form>

    </div>


    <app-approval-details class="col-md-6" *ngIf="service.showApprovalToggle"></app-approval-details>

</div>