  
  <div class="row">

    <div class="col-md-6">

      <form #form="ngForm" (ngSubmit)="onSubmit(form)">
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" class="form-control"  name="UserName" #UserName="ngModel" required
          [(ngModel)]="loginService.userLoggedIn.UserName">
          <div *ngIf="UserName.touched && UserName.invalid" class="text-danger">
    
          </div>
        </div>
        
        <div class="form-group">
          <label for="PassWord">Password</label>
          <input type="password" class="form-control" name="PassWord" #PassWord="ngModel" required
          [(ngModel)]="loginService.userLoggedIn.PassWord">
          <div *ngIf="PassWord.touched && PassWord.invalid" class="text-danger">
          
          </div>
        </div>
      
        <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Login</button>
      </form>
      <button class="btn btn-outline-success" (click)="ShowRegistrationForm()">Register</button>
    </div>
 

    <div class="col-md-6" *ngIf="toggleRegistrationForm">
      <app-customer-register></app-customer-register>
    </div>

  </div>